APP_NAME=MentoClock
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mento_clock
DB_USERNAME=mento_clock
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=false
CACHE_STORE=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack

MAIL_MAILER=log
MAIL_SCHEME=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@your-domain.example
MAIL_FROM_NAME="MentoClock"
